.experiencia {
  max-width: 75rem;
  padding: 2rem 3rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 8fr;
  gap: 6.25rem;
  align-items: center;
}
.subtitulo {
  color: #e0e0e0;
  margin-bottom: 2rem;
  font-size: 2rem;
  word-break: break-all;
}
.experiencia-sobre {
  font-size: 1.2rem;
  margin-bottom: 3rem;
  line-height: 1.3;
  max-width: 50ch;
  color: #525252;
}
.experiencia-sobre strong {
  color: #141414;
}
.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.6rem 0.2rem;
  padding: 1.2rem;
  background: #f5f5f5;
  margin-bottom: 1.2rem;
  border-radius: 4px;
  position: relative;
}
.empresa-ano {
  position: absolute;
  top: 1.2rem;
  left: 15rem;
  color: #525252;
  font-size: 0.875rem;
}
.empresa::before {
  content: "";
  display: block;
  width: 4px;
  height: 25px;
  background: #b90000;
  position: absolute;
  left: -10px;
  top: 20px;
}

.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}
.empresa p {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
}

.empresa ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-content: start;
}

.empresa ul li {
  padding: 0.2rem 0.8rem;
  background: #fff;
  border-radius: 4px;
  font-size: 0.875rem;
  line-height: 1.4;
}
@media (max-width:1200px){
  .subtitulo{
    font-size: 1.5rem;
  }
}

@media (max-width: 1000px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .subtitulo {
    font-size: 2rem;
    line-height: 1;
    word-break: normal;
    max-width: none;
    margin-bottom: 0;
    text-align: left;
  }
  .empresa {
    margin-bottom: 2rem;
  }
  .empresa::before {
    left: 250px;
    top: 15px;
  }
  .empresa-ano {
    left: 255px;
  }
}
@media (max-width: 800px) {
  .empresa {
    grid-template-columns: 1fr;
  }
  .subtitulo {
    font-size: 1.5rem;
  }
}
